## Core Flask
Flask==3.0.0

## Database + ORM
SQLAlchemy>=2.0.30
Flask-SQLAlchemy==3.1.1

## PostgreSQL Driver (IMPORTANT)
psycopg2-binary==2.9.6

## Migrations
Flask-Migrate==4.0.5
alembic==1.13.1

## Validation
marshmallow==3.21.1

## Environment variables
python-dotenv==1.0.0

## Server
gunicorn==21.2.0
